<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<h1>用户注册</h1>
<body>
    <form method="post" action="register">
        <!--post 必须设置 csrf（跨站请求伪造）-->
        {% csrf_token %}
        <div>
            用户名：<input type="text" name="username"/>
        </div>
        <div>
            密码：<input type="password" name="password"/>
        </div>
        <div>
            男<input type="radio" name="gender" value="male">
            女<input type="radio" name="gender" value="female">
        </div>

        <div>
            爱好：
            <input type="checkbox" name="basketball">篮球
            <input type="checkbox" name="football">足球
            <input type="checkbox" name="game">游戏
            </div>

        <div>
            擅长：
            <select name="features" multiple>
                <option value="palygame">打游戏</option>
                <option value="zhuangbi">装逼</option>
                <option value="Draven">德莱文</option>
            </select>
        </div>

        <div>
            备注：
            <textarea rows="5" name="comments"></textarea>
        </div>

        <div>
            <input type="button" value="提交">
            <input type="submit" value="submit">
        </div>
    </form>







</body>
</html>